@model CitasMedicas.Models.Medicamento

@{
    ViewData["Title"] = "Details";
}

<h1>Detailles</h1>

<div>
    <h4>Medicamento</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NombreMedicamento)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NombreMedicamento)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FechaRegistro)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FechaRegistro)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.StockMedicamento)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.StockMedicamento)
        </dd>
    </dl>

</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
