@model CitasMedicas.Models.Paciente

@{
    ViewData["Title"] = "Delete";
}

<h1>Eliminar</h1>

<h3>>Está seguro de Eliminar?</h3>
<div>
    <h4>Paciente</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CedulaPaciente)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CedulaPaciente)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NombrePaciente)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NombrePaciente)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FechaNacimientoPaciente)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FechaNacimientoPaciente)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CorreoPaciente)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CorreoPaciente)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TelefonoPaciente)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TelefonoPaciente)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Usuario)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Usuario.Id)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.EdadPaciente)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.EdadPaciente)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="Id" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-action="Index">Back to List</a>
    </form>
</div>
